﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-signin-client_id" content="953188150325-1i9etme464tarif0f2omidpkh9fvddrv.apps.googleusercontent.com">
    <title>@ViewData["Title"] - Tickets</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DemoAspNetCore.styles.css" asp-append-version="true" />
    @await RenderSectionAsync("Css", required: false)
</head>
<body>
    <header>
        @await RenderSectionAsync("Header", required: false)
    </header>

    <div class="container-fluid">
        @await RenderSectionAsync("Client", required: false)
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                @await RenderSectionAsync("LeftNavigator", required: false)
            </div>
            <div class="col-10">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; PhuongVu - 2023 - <a href="/Home/Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  @*  <script src="~/js/admin.js"></script>
    <script src="~/js/client.js"></script>*@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
