﻿<div class="card">
    <div style="background-color:deepskyblue">
        <div class="row">
            <div class="col-2 mb-1 ms-1">
                <img src="https://localhost:7256/images/Logo_10.jpg">
            </div>
            <div class="col-9">
                thứ hai 12/12/1991  hai phong - hcm
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div>
                    from
                    <hr class="m-0" style="color:deepskyblue" />
                </div>
                <div>departure : 12:00</div>
                <div>12/12/1991 thu hai</div>
            </div>

            <div class="col-4" style="border-right: 1px solid deepskyblue;border-left: 1px solid deepskyblue;">
                <div>
                    to
                    <hr class="m-0" style="color:deepskyblue" />
                </div>
                <div>arrival : 12:00</div>
                <div>12/12/1991 thu hai</div>
            </div>

            <div class="col-4">
                <div>
                    By Phuong Vu
                </div>
                <div>train code</div>
                <div>seat</div>
            </div>
        </div>

    </div>
</div>