﻿@{
    var stations = ViewBag.Stations;
    var fares = ViewBag.Fares;
    var schedules = ViewBag.Schedules;
    var trains = ViewBag.Trains;
    var classes = ViewBag.Classes;
    var tickets = ViewBag.Tickets;
}

@section Header {
    @Html.Partial("~/Areas/Home/Views/Partials/_PatialHeader.cshtml")
}

@section Client {
    <img src="https://localhost:7256/images/Background3_1500x400.jpg">

    @Html.Partial("~/Areas/Home/Views/Partials/_PartialSelectStation.cshtml")

    @Html.Partial("~/Areas/Home/Views/Partials/_PartialBuyTicket.cshtml")
}

<script>
    const schedules = @Html.Raw(Json.Serialize(ViewBag.Schedules));
    const stations = @Html.Raw(Json.Serialize(ViewBag.Stations));
    const fares = @Html.Raw(Json.Serialize(ViewBag.Fares));
    const trains = @Html.Raw(Json.Serialize(ViewBag.Trains));
    const classes = @Html.Raw(Json.Serialize(ViewBag.Classes));
    const tickets = @Html.Raw(Json.Serialize(ViewBag.Tickets));

    localStorage.setItem("schedules", JSON.stringify(schedules));
    localStorage.setItem("stations", JSON.stringify(stations));
    localStorage.setItem("fares", JSON.stringify(fares));
    localStorage.setItem("trains", JSON.stringify(trains));
    localStorage.setItem("classes", JSON.stringify(classes));
    localStorage.setItem("tickets", JSON.stringify(tickets));
</script>

