﻿@using Microsoft.AspNetCore.Identity

@section Header {
    @Html.Partial("~/Areas/Home/Views/Partials/_PatialHeader.cshtml")
}

<div class="container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-3">
            <img src="https://localhost:7256/images/Logo_20.jpg">
        </div>
        <div class="col-5">
            <div class="card">
                <form action="/Home/CustomerLogin" method="post" class="m-4">
                    <h4>Login</h4>
                    <input type="text" name="LoginStatus" value="1" hidden/>
                    <div>
                        <label>Email</label>
                        <input type="text" name="EmailCustomer" class="form-control" />
                    </div>

                    <div>
                        <label>Password</label>
                        <input type="password" name="PasswordCustomer" class="form-control" />
                    </div>
                    <div class="mt-3">
                        <button class="btn btn-info">Login</button>
                        <span>@ViewBag.Result</span>
                    </div>
                </form>
                <hr />

                <div class="mt-1 mb-4 ms-4 row">
                    <div class="col-6">
                        @*<div class="g-signin2" data-onsuccess="onSignIn"></div>*@
                        @*<a class="btn btn-info" type="button" href="/Home/GoogleLoginView">Google</a>*@
                        <div id="g_id_onload"
                             data-client_id="539622978663-pj2mfjmbaifqdtl9no1cvpgclfhbirgl.apps.googleusercontent.com"
                             data-callback="googleLogin">
                        </div>
                        <div class="g_id_signin" data-type="standard"></div>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-info"  onclick="fbLogin()">Facebook</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>


@section Scripts {
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v16.0&appId=233294979060731&autoLogAppEvents=1" nonce="41Rijyqt"></script>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <script>
        function fbLogin() {
            FB.login(function (response) {
                if (response.status == 'connected'){
                    FB.api('/me', function (response) {
                        console.log(response)
                        const FacebookId = response.id
                        const NameCustomer = response.name
                        const LoginStatus = 3
                        const customer = { FacebookId, NameCustomer, LoginStatus }

                        $.ajax({
                            type: "POST",
                            url: "/Home/LoginFireBase",
                            data: customer,
                            dataType: "json",
                            success: function (result) {
                                if (result) {
                                    window.location.href = "https://localhost:7256/Home/Login"
                                }
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                //do your own thing
                                alert("Something wrong in server.")
                            }
                        });
                    });
                }
            });
        };

        function fbLogout(){
            FB.logout(function (response) {
                console.log(response)
                // user is now logged out
            });
        }
        
        function decryptJwt(token) {
            return JSON.parse(atob(token.split('.')[1]));
        }
        function googleLogin(response) {
            const responsePayload = decryptJwt(response.credential);

            const GoogleId = responsePayload.sub
            const NameCustomer = responsePayload.name
            const AvatarCustomer = responsePayload.picture
            const LoginStatus = 2
            const customer = { GoogleId, NameCustomer, AvatarCustomer, LoginStatus }

            $.ajax({
                type: "POST",
                url: "/Home/LoginFireBase",
                data: customer,
                dataType: "json",
                success: function (result) {
                    if(result){
                        window.location.href = "https://localhost:7256/Home/Login"
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    //do your own thing
                    alert("Something wrong in server.")
                }
            });
        }
    </script>
}
