﻿@{
    var customer = (Customer)ViewBag.Customer;
}

@section Header {
    @Html.Partial("~/Areas/Home/Views/Partials/_PatialHeader.cshtml")
}

<div class="container-fluid">
    <h2>Profile</h2>
    <div class="row">
        <div class="col-3">
            <div class="card">
                <div class="m-2">
                    <form>
                        <img style="width:100px;height:100px" src="https://localhost:7256/images/defaultAvatar.jpg">
                        <input type="file" value="Browser" />
                        <button class="btn btn-info">Change Avatar</button>
                    </form>
                    <form>
                        <button class="btn btn-info">Change Password</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="card">
                <form action="/Home/CustomerLogin" method="post" class="m-2">
                    <input class="form-control" name="IdCustomer" type="text" value="@customer.IdCustomer" hidden />

                    <div class="row">
                        <div class="col-6">
                            <h5>Name</h5>
                            <span class="form-control" type="text">@customer.NameCustomer</span>
                        </div>
                        <div class="col-6">
                            <h5>Contact</h5>
                            <span class="form-control" type="text">@customer.ContactCustomer</span>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <h5>Email</h5>
                            <span class="form-control" type="text">@customer.EmailCustomer</span>
                        </div>

                        <div class="col-6">
                            <h5>DoB</h5>
                            <span class="form-control" type="text">@customer.DobCustomer</span>
                        </div>
                    </div>

                    <div class="mt-3">
                        <button class="btn btn-info">Edit</button>
                        <span>@ViewBag.Result</span>
                    </div>
                </form>

            </div>

            @*<div class="row">
            <div class="col-6">
            <h5>Password</h5>
            <input class="form-control" name="PasswordCustomer" type="password" value="@customer.PasswordCustomer" />
            </div>
            <div class="col-6">
            <h5>Confirm Password</h5>
            <input class="form-control" type="password" />
            </div>
            </div>*@
        </div>
    </div>
</div>