﻿@section Header {
    @Html.Partial("~/Areas/Home/Views/Partials/_PatialHeader.cshtml")
}

<div class="container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-3">
            <img src="https://localhost:7256/images/Logo_20.jpg">
        </div>
        <div class="col-5">
            <div class="card">
                <form action="/Home/CustomerRegister" method="post" class="m-4">
                    <h4>Register</h4>
                    <div>
                        <label>Name</label>
                        <input name="NameCustomer" type="text" class="form-control" />
                    </div>

                    <div>
                        <label>Email</label>
                        <input name="EmailCustomer" type="text" class="form-control" />
                    </div>

                    <div>
                        <label>Contact</label>
                        <input name="ContactCustomer"  type="text" class="form-control" />
                    </div>

                    <div>
                        <label>Password</label>
                        <input name="PasswordCustomer" type="password" class="form-control" />
                    </div>

                    <div>
                        <label>Confirm Password</label>
                        <input type="password" class="form-control" />
                    </div>

                    <div>
                        <label>Dob</label>
                        <input type="date" name="DobCustomer" class="form-control" />
                    </div>

                    <div class="mt-3">
                        <button class="btn btn-info">Register</button>
                        <span>@ViewBag.Result</span>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>