﻿@model ClassView;

<button type="button" class="btn btn-info btn-lg" data-bs-toggle="modal" data-bs-target="#@Model.NameClass">Update</button>
<div id="@Model.NameClass" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Update Class</h4>
                <button type="button" class="btn btn-info" data-bs-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <form method="post" action="/Ad/Admin/ClassUpdate">
                    <div class="col-12">
                        <input name="IdClass" type="text" value="@Model.IdClass" class="text" hidden/>
                        <div class="row">
                            <div class="col-8">
                                <span>Name</span>
                                <input class="form-control" name="NameClass" type="text" value="@Model.NameClass"/>
                            </div>
                            <div class="col-4">
                                <span>Rate</span>
                                <input class="form-control" name="RateClass" type="number" value="@Model.RateClass" />
                            </div>
                        </div>

                        <div class="mt-1">
                            <button class="form-control" type="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>