﻿@model ScheduleView;

@{
    var format = "schdule-{0}";
    var modelId = string.Format(format, Model.IdSchedule);
}

<button type="button" class="btn btn-info btn-lg" data-bs-toggle="modal" data-bs-target="#@modelId">Update</button>
<div id="@modelId" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Update Schedule</h4>
                <button type="button" class="btn btn-info" data-bs-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <form method="post" action="/Ad/Admin/ScheduleUpdate">
                    <div class="col-12">
                        <input class="form-control" name="IdSchedule" type="text" value="@Model.IdSchedule" hidden />
                        <div class="col-12">
                            <div class="m-1">
                                <span>Train</span>
                                <select class="form-control" name="IdTrain">
                                    <option value="@Model.IdTrain" selected>@Model.NameTrain</option>
                                    @foreach (var train in ViewData["TmpTrains"] as List<Train>)
                                    {
                                        <option value="@train.IdTrain">@train.NameTrain</option>
                                    }
                                </select>
                            </div>

                            <div class="m-1">
                                <span>Fare</span>
                                <div class="row">
                                    <div class="col-6">
                                        <span>From</span>
                                        <select class="form-control" name="IdFare">
                                            <option value="@Model.IdFare" selected>@Model.FromFareName</option>
                                            @foreach (var fare in ViewData["TmpFares"] as List<FareView>)
                                            {
                                                <option value="@fare.IdFare">@fare.FromFareName</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-6">
                                        <span>To</span>
                                        <select class="form-control">
                                            <option value="@Model.IdFare" selected>@Model.ToFareName</option>
                                            @foreach (var fare in ViewData["TmpFares"] as List<FareView>)
                                            {
                                                <option value="@fare.IdFare">@fare.ToFareName</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="m-1">
                                <span>Departure</span>
                                <input class="form-control" name="DepartureSchedule" type="datetime-local" value="@Model.DepartureSchedule"/>
                            </div>

                            <div class="m-1">
                                <span>Arrival</span>
                                <input class="form-control" name="ArrivalSchedule" type="datetime-local" value="@Model.ArrivalSchedule" />
                            </div>
                        </div>
                        <div class="m-1">
                            <button class="form-control" type="submit">Update</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>