﻿@model FareView;

@{
    var format = "{0}-{1}";
    var modelId = string.Format(format, Model.FromFareName.Replace(" ","-"),Model.IdFare);
}

<button type="button" class="btn btn-info btn-lg" data-bs-toggle="modal" data-bs-target="#@modelId">Update</button>
<div id="@modelId" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Update Fare</h4>
                <button type="button" class="btn btn-info" data-bs-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <form method="post" action="/Ad/Admin/FareUpdate">
                    <div class="col-12">
                        <input class="form-control" name="IdFare" type="text" value="@Model.IdFare" hidden />

                        <div class="m-1">
                            <span>From</span>
                            <select class="form-control"  name="FromFare">
                                <option selected value="@Model.FromFare">@Model.FromFareName</option>
                                @foreach (var station in ViewData["TmpStations"] as List<Station>)
                                {
                                    <option value="@station.IdStation">@station.NameStation</option>
                                }
                            </select>
                        </div>

                        <div class="m-1">
                            <span>To</span>
                            <select class="form-control"  name="ToFare">
                                <option selected value="@Model.ToFare">@Model.ToFareName</option>
                                @foreach (var station in ViewData["TmpStations"] as List<Station>)
                                {
                                    <option value="@station.IdStation">@station.NameStation</option>
                                }
                            </select>
                        </div>

                        <div class="m-1">
                            <span>Price</span>
                            <input class="form-control" name="PriceFare" type="number" value="@Model.PriceFare" />
                        </div>

                        <div class="m-1">
                            <button class="form-control" type="submit">Update</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>