﻿@model CustomerView;

<button type="button" class="btn btn-info btn-lg" data-bs-toggle="modal" data-bs-target="#@Model.EmailCustomer">Update</button>
<div id="@Model.EmailCustomer" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Update Customer</h4>
                <button type="button" class="btn btn-info" data-bs-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <form method="post" action="/Ad/Admin/CustomerUpdate">
                    <div class="col-12">
                        <input class="form-control" name="IdCustomer" type="text" value="@Model.IdCustomer" hidden />
                        <input class="form-control" name="TokenCustomer" type="text" value="@Model.TokenCustomer" hidden />

                        <div class="m-1">
                            <span>Name</span>
                            <input class="form-control" name="NameCustomer" type="text" value="@Model.NameCustomer" />
                        </div>

                        <div class="m-1">
                            <span>Email</span>
                            <input class="form-control" name="EmailCustomer" type="text" value="@Model.EmailCustomer" />
                        </div>

                        <div class="m-1">
                            <span>Contact</span>
                            <input class="form-control" name="ContactCustomer" type="text" value="@Model.ContactCustomer" />
                        </div>

                        <div class="m-1">
                            <span>Dob</span>
                            <input class="form-control" name="DobCustomer" type="datetime" value="@Model.DobCustomer" />
                        </div>

                        <div class="m-1">
                            <button class="form-control" type="submit">Update</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>