﻿@model TrainView;

<button type="button" class="btn btn-info btn-lg" data-bs-toggle="modal" data-bs-target="#@Model.CodeTrain">Update</button>
<div id="@Model.CodeTrain" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Update Train</h4>
                <button type="button" class="btn btn-info" data-bs-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <form method="post" action="/Ad/Admin/TrainUpdate">
                    <div class="col-12">
                        <input class="form-control" name="IdTrain" type="text" value="@Model.IdTrain" hidden/>

                        <div class="m-1">
                            <span>Name</span>
                            <input class="form-control" name="CodeTrain" type="text" value="@Model.CodeTrain" />
                        </div>

                        <div class="m-1">
                            <span>Name</span>
                            <input class="form-control" name="NameTrain" type="text" value="@Model.NameTrain" />
                        </div>

                        <div class="row">
                            <div class="col-4">
                                <div class="m-1">
                                    <span>Ac1</span>
                                    <input class="form-control" name="Ac1Seat" type="number" value="@Model.Ac1Seat" />
                                </div>
                            </div>

                            <div class="col-4">
                                <div class="m-1">
                                    <span>Ac2</span>
                                    <input class="form-control" name="Ac2Seat" type="number" value="@Model.Ac2Seat" />
                                </div>
                            </div>

                            <div class="col-4">
                                <div class="m-1">
                                    <span>Ac3</span>
                                    <input class="form-control" name="Ac3Seat" type="number" value="@Model.Ac3Seat" />
                                </div>
                            </div>

                            <div class="col-4">
                                <div class="m-1">
                                    <span>Fc</span>
                                    <input class="form-control" name="FcSeat" type="number" value="@Model.FcSeat" />
                                </div>
                            </div>

                            <div class="col-4">
                                <div class="m-1">
                                    <span>Sc</span>
                                    <input class="form-control" name="ScSeat" type="number" value="@Model.ScSeat" />
                                </div>
                            </div>
                        </div>

                        <div class="m-1">
                            <button class="form-control" type="submit">Update</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>