﻿@model List<CustomerView>

<button type="button" class="btn btn-info btn-lg" data-bs-toggle="modal" data-bs-target="#searchCustomer">Search</button>
<div id="searchCustomer" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Search Customer</h4>
            </div>

            <div class="modal-body">
                <div class="row mt-2">
                    <div class="col-8">
                        <input id="searchText" class="form-control" type="text" placeholder="Search" />
                    </div>

                    <div class="col-3">
                        <button class="btn btn-info" onclick="onCustomerInfoSearch()">Search</button>
                    </div>
                </div>
                @if (Model.Count() <= 0)
                {
                    <h3>No records found.</h3>
                }
                else
                {
                    <div>
                        <table id="viewTable">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Contact</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody id="oldBody">
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @{
                                                var a = Model.IndexOf(item) + 1;
                                            }
                                            @a
                                        </td>
                                        <td>@item.NameCustomer</td>
                                        <td>@item.EmailCustomer</td>
                                        <td>@item.ContactCustomer</td>
                                        <td><button class="btn btn-info btn-sm" value="@item.IdCustomer" name="@item.NameCustomer" id="@item.ContactCustomer" onclick="onSelectCustomer(this)">Select</button></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    function onSelectCustomer(e) {
        $("#idCustomer").get(0).value = e.value
        $("#nameCustomer").get(0).value = e.name
        $("#contactCustomer").get(0).value = e.id
    }

    function onCustomerInfoSearch() {
        const searchText = $("#searchText").get(0).value;
        const table = $("#viewTable").get(0)
        const oldBody = $("#oldBody").get(0)
        $.ajax({
            type: "POST",
            url: "/Ad/Admin/CustomerInfoSearch",
            data: { searchText },
            dataType: "json",
            success: function (result) {
                updateTable(result, table, oldBody)
            },
            error: function (jqXHR, textStatus, errorThrown) {
                //do your own thing
                alert("Something wrong in server.")
            }
        });
    }

    function newTd(name) {
        const td = document.createElement("td");
        td.innerHTML = name
        return td;
    }

    function updateTable(data, table, oldBody) {
        let index = 1;
        const body = document.createElement("tbody")
        data.forEach(e => {
            const tr = document.createElement("tr");
            const tdId = newTd(index)
            tr.appendChild(tdId);
            const tdNameCustomer = newTd(e.NameCustomer)
            tr.appendChild(tdNameCustomer);
            const tdEmailCustomer = newTd(e.EmailCustomer)
            tr.appendChild(tdEmailCustomer);
            const tdContactCustomer = newTd(e.ContactCustomer)
            tr.appendChild(tdContactCustomer);
            const tdButtonSelect = newTd("")
            const button = document.createElement("button");
            button.className = "btn btn-info btn-sm"
            button.innerHTML = "Select"
            button.value = e.IdCustomer
            button.name = e.NameCustomer
            button.id = e.ContactCustomer
            button.onclick = () => { onSelectCustomer(button) }
            tdButtonSelect.appendChild(button);

            tr.appendChild(tdButtonSelect);
            body.appendChild(tr);
            index++;
        })

        table.replaceChild(body, oldBody)
    }
</script>


