﻿<div class="row">
    <div class="col-3">
        <input class="form-control" name="searchText" type="text" placeholder="Search" />
    </div>

    <div class="col-1">
        <span> </span>
        <button class="btn btn-info" type="submit">Submit</button>
    </div>
</div>