﻿<div id="viewCart" class="modal fade" role="dialog" style="position:fixed">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Cart</h4>
                <h4>Total Price : <span id="totalPrice">0</span></h4>
                <button type="button" class="btn btn-info" data-bs-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <div id="viewTicket" style="height:450px;overflow-y:scroll;overflow-x: hidden;">
                </div>
            </div>
        </div>
    </div>
</div>
