﻿<nav class="navbar navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item left-navigator">
                    <a class="nav-link text-dark" href="/Ad/Admin/Index">Dashboard</a>
                </li>

                <li class="nav-item left-navigator">
                    <a class="nav-link text-dark" href="/Ad/Admin/AdminView">Admin</a>
                </li>

                <li class="nav-item left-navigator">
                    <a class="nav-link text-dark" href="/Ad/Admin/StationView">Station</a>
                </li>

                <li class="nav-item left-navigator">
                    <a class="nav-link text-dark" href="/Ad/Admin/TrainView">Train</a>
                </li>

                <li class="nav-item left-navigator">
                    <a class="nav-link text-dark" href="/Ad/Admin/ClassView">Class</a>
                </li>

                <li class="nav-item left-navigator">
                    <a class="nav-link text-dark" href="/Ad/Admin/FareView">Fare</a>
                </li>

                <li class="nav-item left-navigator">
                    <a class="nav-link text-dark" href="/Ad/Admin/ScheduleView">Schedule</a>
                </li>

                <li class="nav-item left-navigator">
                    <a class="nav-link text-dark" href="/Ad/Admin/CustomerView">Customer</a>
                </li>
              
                <li class="nav-item left-navigator">
                    <a class="nav-link text-dark" href="/Ad/Admin/TicketView">Ticket</a>
                </li>
            </ul>
        </div>
    </div>
</nav>