﻿<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="/Home/Index"><img src="https://localhost:7256/images/Logo_20.jpg"></a>

        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav">
                <li class="nav-item left-navigator">
                    <a class="nav-link text-dark" href="/Home/Privacy">Login</a>
                </li>

                <li class="nav-item left-navigator">
                    <a class="nav-link text-dark" href="/Home/Privacy">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>