﻿@model AdminView;

<button type="button" class="btn btn-info btn-lg" data-bs-toggle="modal" data-bs-target="#@Model.EmailAdmin">Update</button>
<div id="@Model.EmailAdmin" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Update Admin</h4>
                <button type="button" class="btn btn-info" data-bs-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <form method="post" action="/Ad/Admin/AdminUpdate">
                    <div class="col-12">
                        <input class="form-control" name="IdAdmin" type="text" value="@Model.IdAdmin" hidden />

                        <div class="m-1">
                            <span>Name</span>
                            <input class="form-control" name="NameAdmin" type="text" value="@Model.NameAdmin" />
                        </div>

                        <div class="m-1">
                            <span>Email</span>
                            <input class="form-control" name="EmailAdmin" type="text" value="@Model.EmailAdmin" />
                        </div>

                        <div class="m-1">
                            <span>Password</span>
                            <input class="form-control" name="PasswordAdmin" type="text" value="@Model.PasswordAdmin" />
                        </div>

                        <div class="m-1">
                            <span>Contact</span>
                            <input class="form-control" name="ContactAdmin" type="text" value="@Model.ContactAdmin" />
                        </div>

                        <div class="m-1">
                            <span>Avatar</span>
                            <input class="form-control" name="AvatarAdmin" type="text" value="@Model.AvatarAdmin" />
                        </div>

                        <div class="m-1">
                            <button class="form-control" type="submit">Update</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>