﻿@model StationView;

<button type="button" class="btn btn-info btn-lg" data-bs-toggle="modal" data-bs-target="#@Model.CodeStation">Update</button>
<div id="@Model.CodeStation" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Update Station</h4>
                <button type="button" class="btn btn-info" data-bs-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <form method="post" action="/Ad/Admin/StationUpdate">
                    <div class="col-12">
                        <input class="form-control" name="IdStation" type="text" value="@Model.IdStation" hidden />

                        <div class="m-1">
                            <span>Name</span>
                            <input class="form-control" name="CodeStation" type="text" value="@Model.CodeStation" />
                        </div>

                        <div class="m-1">
                            <span>Email</span>
                            <input class="form-control" name="NameStation" type="text" value="@Model.NameStation" />
                        </div>

                        <div class="m-1">
                            <button class="form-control" type="submit">Update</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>