﻿@model AdminView;

@{
    var admins = (List<AdminView>)@ViewBag.Admins;
}

@section Header {
    @await Html.PartialAsync("~/Areas/Ad/Views/Partials/_PartialAdHeader.cshtml")
}

@section LeftNavigator {
    @await Html.PartialAsync("~/Areas/Ad/Views/Partials/_PartialLeftNavigator.cshtml")
}

<h1>@ViewBag.Title</h1>

<button type="button" class="btn btn-info btn-lg" data-bs-toggle="modal" data-bs-target="#newAdminModel">New</button>
<span id="result">@ViewBag.Result</span>

<div class="mt-1">
    <form method="post" action="/Ad/Admin/AdminSearch">
        @Html.Partial("~/Areas/Ad/Views/Partials/_PartialSearch.cshtml")
    </form>
</div>

<div id="newAdminModel" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">New Admin</h4>
                <button type="button" class="btn btn-info" data-bs-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <form method="post" action="/Ad/Admin/AdminCreate">
                    <div class="col-12">
                        <div class="m-1">
                            <span>Name</span>
                            <input class="form-control" name="NameAdmin" type="text" />
                        </div>

                        <div class="m-1">
                            <span>Email</span>
                            <input class="form-control" name="EmailAdmin" type="text" />
                        </div>

                        <div class="m-1">
                            <span>Password</span>
                            <input class="form-control" name="PasswordAdmin" type="text" />
                        </div>

                        <div class="m-1">
                            <span>Contact</span>
                            <input class="form-control" name="ContactAdmin" type="text" />
                        </div>

                        <div class="m-1">
                            <button class="form-control" type="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

@if(admins.Count() <= 0)
{
    <h3>No records found.</h3>
}
else
{
    <div>
        <table>
            <thead>
                <tr>
                    <th>No</th>
                    <th>Avatar</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Contact</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in admins)
                {
                    <tr>
                        <td>
                            @{
                                var a = admins.IndexOf(item) + 1;
                            }
                            @a
                        </td>
                        <td>@item.AvatarAdmin</td>
                        <td>@item.NameAdmin</td>
                        <td>@item.EmailAdmin</td>
                        <td>@item.ContactAdmin</td>
                        <td><input type="checkbox" name="@item.IdAdmin" checked="@item.StatusAdmin" onchange="onChangeStatus(this,'/Ad/Admin/AdminStatus')" /></td>
                        <td>@Html.Partial("~/Areas/Ad/Views/Partials/_PartialAdminUpdate.cshtml",item)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@section Scripts {
    <script type="text/javascript">
        function removeResult() {
            $("#result").get(0).text = ""
        }
        setTimeout(removeResult, 3000)
    </script>
}

