﻿@model ClassView;

@{
    var classes = (List<ClassView>)@ViewBag.Classes;
}

@section Header {
    @await Html.PartialAsync("~/Areas/Ad/Views/Partials/_PartialAdHeader.cshtml")
}

@section LeftNavigator {
    @await Html.PartialAsync("~/Areas/Ad/Views/Partials/_PartialLeftNavigator.cshtml")
}

<h1>@ViewBag.Title</h1>

<button type="button" class="btn btn-info btn-lg" data-bs-toggle="modal" data-bs-target="#newClassModel">New</button>
<span id="result">@ViewBag.Result</span>

<div class="mt-1">
    <form method="post" action="/Ad/Admin/ClassSearch">
        @Html.Partial("~/Areas/Ad/Views/Partials/_PartialSearch.cshtml")
    </form>
</div>

<div id="newClassModel" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">New Class</h4>
                <button type="button" class="btn btn-info" data-bs-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <form method="post" action="/Ad/Admin/ClassCreate">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-8">
                                <span>Name</span>
                                <input class="form-control" name="NameClass" type="text" />
                            </div>
                            <div class="col-4">
                                <span>Rate</span>
                                <input class="form-control" name="RateClass" type="number" />
                            </div>
                        </div>

                        <div class="mt-1">
                            <button class="form-control" type="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

@if (classes.Count() <= 0)
{
    <h3>No records found.</h3>
}
else
{
    <div>
        <table>
            <thead>
                <tr>
                    <th>No</th>
                    <th>Name</th>
                    <th>Rate</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in @classes)
                {
                    <tr>
                        <td>
                            @{
                                var a = classes.IndexOf(item) + 1;
                            }
                            @a
                        </td>
                        <td>@item.NameClass</td>
                        <td>@item.RateClass</td>
                        <td><input type="checkbox" name="@item.IdClass" checked="@item.StatusClass" onchange="onChangeStatus(this,'/Ad/Admin/ClassStatus')" /></td>
                        <td>@Html.Partial("~/Areas/Ad/Views/Partials/_PartialClassUpdate.cshtml",item)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}


@section Scripts {
    <script type="text/javascript">
        function removeResult() {
            $("#result").get(0).text = ""
        }
        setTimeout(removeResult, 3000)
    </script>
}

