﻿@model CustomerView;

@{
    var customers = (List<CustomerView>)@ViewBag.Customers;
}

@section Header {
    @await Html.PartialAsync("~/Areas/Ad/Views/Partials/_PartialAdHeader.cshtml")
}

@section LeftNavigator {
    @await Html.PartialAsync("~/Areas/Ad/Views/Partials/_PartialLeftNavigator.cshtml")
}

<h1>@ViewBag.Title</h1>

<button type="button" class="btn btn-info btn-lg" data-bs-toggle="modal" data-bs-target="#newAdminModel">New</button>
<span id="result">@ViewBag.Result</span>

<div class="mt-1">
    <form method="post" action="/Ad/Admin/CustomerSearch">
        @Html.Partial("~/Areas/Ad/Views/Partials/_PartialSearch.cshtml")
    </form>
</div>

<div id="newAdminModel" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">New Customer</h4>
                <button type="button" class="btn btn-info" data-bs-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <form method="post" action="/Ad/Admin/CustomerCreate">
                    <div class="col-12">
                        <div class="m-1">
                            <span>Name</span>
                            <input class="form-control" name="NameCustomer" type="text" />
                        </div>

                        <div class="m-1">
                            <span>Email</span>
                            <input class="form-control" name="EmailCustomer" type="text" />
                        </div>

                        <div class="m-1">
                            <span>Password</span>
                            <input class="form-control" name="PasswordCustomer" type="text" />
                        </div>

                        <div class="m-1">
                            <span>Contact</span>
                            <input class="form-control" name="ContactCustomer" type="text" />
                        </div>

                        <div class="m-1">
                            <span>DoB</span>
                            <input class="form-control" name="DobCustomer" type="date" />
                        </div>

                        <div class="m-1">
                            <button id="submitBtn" class="form-control" type="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<div>
    <table>
        <thead>
            <tr>
                <th>No</th>
                <th>Name</th>
                <th>Email</th>
                <th>Contact</th>
                <th>Dob</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in customers)
            {
                <tr>
                    <td>
                        @{
                            var a = customers.IndexOf(item) + 1;
                        }
                        @a
                    </td>
                    <td>@item.NameCustomer</td>
                    <td>@item.EmailCustomer</td>
                    <td>@item.ContactCustomer</td>
                    <td>@item.DobCustomer</td>
                    <td><input type="checkbox" name="@item.IdCustomer" checked="@item.StatusCustomer" onchange="onChangeStatus(this,'/Ad/Admin/CustomerStatus')" /></td>
                    <td>@Html.Partial("~/Areas/Ad/Views/Partials/_PartialCustomerUpdate.cshtml",item)</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script type="text/javascript">
        function removeResult() {
            $("#result").get(0).text = ""
        }
        setTimeout(removeResult, 3000)
    </script>
}

