﻿@model FareView;

@{
    var fares = (List<FareView>)@ViewBag.Fares;
    var stations = @ViewBag.Stations;
}

@section Header {
    @await Html.PartialAsync("~/Areas/Ad/Views/Partials/_PartialAdHeader.cshtml")
}

@section LeftNavigator {
    @await Html.PartialAsync("~/Areas/Ad/Views/Partials/_PartialLeftNavigator.cshtml")
}

<h1>@ViewBag.Title</h1>

<button type="button" class="btn btn-info btn-lg" data-bs-toggle="modal" data-bs-target="#newFareModel">New</button>
<span id="result">@ViewBag.Result</span>

<div class="mt-1">
    <form method="post" action="/Ad/Admin/FareSearch">
        @Html.Partial("~/Areas/Ad/Views/Partials/_PartialSearch.cshtml")
    </form>
</div>

<div id="newFareModel" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">New Fare</h4>
                <button type="button" class="btn btn-info" data-bs-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <form method="post" action="/Ad/Admin/FareCreate">
                    <div class="col-12">
                        <div class="m-1">
                            <span>From</span>
                            <select class="form-control" name="FromFare">
                                @foreach (var station in @stations as List<Station>)
                                {
                                    <option value="@station.IdStation">@station.NameStation</option>
                                }
                            </select>
                        </div>

                        <div class="m-1">
                            <span>To</span>
                            <select class="form-control" name="ToFare">
                                @foreach (var station in @stations as List<Station>)
                                {
                                    <option value="@station.IdStation">@station.NameStation</option>
                                }
                            </select>
                        </div>

                        <div class="m-1">
                            <span>Price</span>
                            <input class="form-control" name="PriceFare" type="number"/>
                        </div>

                        <div class="m-1">
                            <button class="form-control" type="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>


@if(fares.Count() <= 0)
{
    <h3>No records found.</h3>
}
else
{
    <div>
        <table>
            <thead>
                <tr>
                    <th>No</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Price</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in @fares)
                {
                    <tr>
                        <td>
                            @{
                                var a = fares.IndexOf(item) + 1;
                            }
                            @a
                        </td>
                        <td>@item.FromFareName</td>
                        <td>@item.ToFareName</td>
                        <td>$@item.PriceFare</td>
                        <td><input type="checkbox" name="@item.IdFare" checked="@item.StatusFare" onchange="onChangeStatus(this,'/Ad/Admin/FareStatus')" /></td>
                        <td>@Html.Partial("~/Areas/Ad/Views/Partials/_PartialFareUpdate.cshtml",item, new ViewDataDictionary(ViewData){{"TmpStations",@stations}})</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}


@section Scripts {
    <script type="text/javascript">
        function removeResult() {
            $("#result").get(0).text = ""
        }
        setTimeout(removeResult, 3000)
    </script>
}

