﻿@model ScheduleView;

@{
    var schedules = (List<ScheduleView>)@ViewBag.Schedules;
    var fares = @ViewBag.FaresView;
    var trains = @ViewBag.Trains;
}

@section Header {
    @await Html.PartialAsync("~/Areas/Ad/Views/Partials/_PartialAdHeader.cshtml")
}

@section LeftNavigator {
    @await Html.PartialAsync("~/Areas/Ad/Views/Partials/_PartialLeftNavigator.cshtml")
}

<h1>@ViewBag.Title</h1>

<button type="button" class="btn btn-info btn-lg" data-bs-toggle="modal" data-bs-target="#newScheduleModel">New</button>
<span id="result">@ViewBag.Result</span>

<div class="mt-1">
    <form method="post" action="/Ad/Admin/ScheduleSearch">
        @Html.Partial("~/Areas/Ad/Views/Partials/_PartialSearch.cshtml")
    </form>
</div>

<div id="newScheduleModel" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">New Admin</h4>
                <button type="button" class="btn btn-info" data-bs-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <form method="post" action="/Ad/Admin/ScheduleCreate">
                    <div class="col-12">
                        <div class="m-1">
                            <span>Train</span>
                            <select class="form-control" name="IdTrain">
                                @foreach (var train in trains as List<Train>)
                                {
                                    <option value="@train.IdTrain">@train.NameTrain</option>
                                }
                            </select>
                        </div>

                        <div class="m-1">
                            <span>Fare</span>
                            <div class="row">
                                <div class="col-6">
                                    <span>From</span>
                                    <select class="form-control" name="IdFare">
                                        @foreach (var fare in fares as List<FareView>)
                                        {
                                            <option value="@fare.IdFare">@fare.FromFareName</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-6">
                                    <span>To</span>
                                    <select class="form-control">
                                        @foreach (var fare in fares as List<FareView>)
                                        {
                                            <option value="@fare.IdFare">@fare.ToFareName</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="m-1">
                            <span>Departure</span>
                            <input class="form-control" name="DepartureSchedule" type="datetime-local" />
                        </div>

                        <div class="m-1">
                            <span>Arrival</span>
                            <input class="form-control" name="ArrivalSchedule" type="datetime-local" />
                        </div>

                        <div class="m-1">
                            <button class="form-control" type="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

@if(schedules.Count() <= 0)
{
    <h3>No records found.</h3>
}
else
{
    <div>
        <table>
            <thead>
                <tr>
                    <th>No</th>
                    <th>Name</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Departure</th>
                    <th>Arrival</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in schedules)
                {
                    <tr>
                        <td>
                            @{
                                var a = schedules.IndexOf(item) + 1;
                            }
                            @a
                        </td>
                        <td>@item.NameTrain</td>
                        <td>@item.FromFareName</td>
                        <td>@item.ToFareName</td>
                        <td>
                            @{
                                DateTime Departure = Convert.ToDateTime(item.DepartureSchedule);
                                var DepartureSchedule = Departure.ToLocalTime().ToString();
                            }@DepartureSchedule
                        </td>
                        <td>
                            @{
                                DateTime Arrival = Convert.ToDateTime(item.ArrivalSchedule);
                                var ArrivalSchedule = Departure.ToLocalTime().ToString();
                            }@ArrivalSchedule
                        </td>
                        <td><input type="checkbox" name="@item.IdSchedule" checked="@item.StatusSchedule" onchange="onChangeStatus(this,'/Ad/Admin/ScheduleStatus')" /></td>
                        <td>@Html.Partial("~/Areas/Ad/Views/Partials/_PartialScheduleUpdate.cshtml",item, new ViewDataDictionary(ViewData){{"TmpTrains",@trains},{"TmpFares",@fares}})</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}


@section Scripts {
    <script type="text/javascript">
        function removeResult() {
            $("#result").get(0).text = ""
        }
        setTimeout(removeResult, 3000)
    </script>
}

