﻿@model StationView;

@{
    var stations = (List<StationView>)@ViewBag.Stations;
}

@section Header {
    @await Html.PartialAsync("~/Areas/Ad/Views/Partials/_PartialAdHeader.cshtml")
}

@section LeftNavigator {
    @await Html.PartialAsync("~/Areas/Ad/Views/Partials/_PartialLeftNavigator.cshtml")
}

<h1>@ViewBag.Title</h1>

<button type="button" class="btn btn-info btn-lg" data-bs-toggle="modal" data-bs-target="#newStationModel">New</button>
<span id="result">@ViewBag.Result</span>

<div class="mt-1">
    <form method="post" action="/Ad/Admin/StationSearch">
        @Html.Partial("~/Areas/Ad/Views/Partials/_PartialSearch.cshtml")
    </form>
</div>

<div id="newStationModel" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">New Station</h4>
                <button type="button" class="btn btn-info" data-bs-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <form method="post" action="/Ad/Admin/StationCreate">
                    <div class="col-12">
                        <div class="m-1">
                            <span>Code</span>
                            <input class="form-control" name="CodeStation" type="text" />
                        </div>

                        <div class="m-1">
                            <span>Name</span>
                            <input class="form-control" name="NameStation" type="text" />
                        </div>

                        <div class="m-1">
                            <button class="form-control" type="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

@if(stations.Count() <= 0)
{
    <h3>No records found.</h3>
}
else
{
    <div>
        <table>
            <thead>
                <tr>
                    <th>No</th>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in stations)
                {
                    <tr>
                        <td>
                            @{
                                var a = @stations.IndexOf(item) + 1;
                            }
                            @a
                        </td>
                        <td>@item.CodeStation</td>
                        <td>@item.NameStation</td>
                        <td><input type="checkbox" name="@item.IdStation" checked="@item.StatusStation" onchange="onChangeStatus(this,'/Ad/Admin/StationStatus')" /></td>
                        <td>@Html.Partial("~/Areas/Ad/Views/Partials/_PartialStationUpdate.cshtml",item)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}


@section Scripts {
    <script type="text/javascript">
        function removeResult() {
            $("#result").get(0).text = ""
        }
        setTimeout(removeResult, 3000)
    </script>
}

