﻿@using Newtonsoft.Json
@model TicketView;

@{
    var tickets = (List<TicketView>)ViewBag.Tickets;
    var stations = ViewBag.Stations;
    var fares = ViewBag.Fares;
    var schedules = ViewBag.Schedules;
    var trains = ViewBag.Trains;
    var classes = ViewBag.Classes;
    var customers = ViewBag.Customers;
}

@section Header {
    @await Html.PartialAsync("~/Areas/Ad/Views/Partials/_PartialAdHeader.cshtml")
}

@section LeftNavigator {
    @await Html.PartialAsync("~/Areas/Ad/Views/Partials/_PartialLeftNavigator.cshtml")
}

<h1>@ViewBag.Title</h1>

<span id="result">@ViewBag.Result</span>

<div>
    @Html.Partial("~/Areas/Ad/Views/Partials/_PartialSearchCustomer.cshtml",customers as List<CustomerView>)
</div>

<div class="row">
    <div class="col-6">
        <form method="post" action="/Ad/Admin/TicketCreate">
            <div class="row">
                <div class="col-6">
                    <div class="m-1">
                        <h5>Customer</h5>
                        <input id="idCustomer" class="form-control" type="text" hidden />
                        <input id="nameCustomer" class="form-control" type="text" />
                    </div>
                </div>
                <div class="col-6">
                    <div class="m-1">
                        <h5>Contact</h5>
                        <input id="contactCustomer" class="form-control" type="text" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="m-1">
                        <h5>From</h5>
                        <select id="fromStation" onchange="onFromStationChange(this)">
                            <option value=0 selected>Select...</option>
                            @foreach (var station in stations as List<StationView>)
                            {
                                <option value="@station.IdStation">@station.NameStation</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-6">
                    <div class="m-1">
                        <h5>To</h5>
                        <select id="toStation" onchange="onToStationChange(this)">
                            <option value=0 selected>Select...</option>
                            @foreach (var station in stations as List<StationView>)
                            {
                                <option value="@station.IdStation">@station.NameStation</option>
                            }
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="m-1">
                        <h5>Departure</h5>
                        <select id="departure" class="form-control" onchange="onTimeChange(this,'#arrival',true)">
                        </select>
                    </div>
                </div>
                <div class="col-6">
                    <div class="m-1">
                        <h5>Arrival</h5>
                        <select id="arrival" class="form-control" onchange="onTimeChange(this,'#departure',false)">
                        </select>
                    </div>
                </div>
            </div>
            <div class="m-1">
                <div class="row">
                    <div class="col-4">
                        <button onclick="onDropCart()" type="button" class="form-control btn-sm btn-info"><b>Drop Cart</b></button>
                    </div>
                    <div class="col-4">
                        <button type="button" onclick="viewCart()" data-bs-toggle="modal" data-bs-target="#viewCart" class="form-control btn-sm btn-info">
                            <b>Cart</b>
                            <span id="cartQuantity" class="badge badge-info bg-dark">0</span>
                        </button>
                        @Html.Partial("~/Areas/Ad/Views/Partials/_PartialViewCart.cshtml")
                    </div>
                    <div class="col-4">
                        <input id="cart" type="text" name="param" hidden />
                        <button class="form-control btn-sm btn-info"><b>Submit</b></button>
                    </div>
                </div>
            </div>
        </form>

        
    </div>
    <div class="col-6">
        <div class="row">
            <div class="col-2">
            </div>

            <div class="col-10">
                <h5 class="align-content-center">Head</h5>
                <div id="viewTrain" style="width:200px;height:400px;overflow-y:scroll">
                </div>
            </div>
        </div>
    </div>
</div>

<h3>All Tickets</h3>
<div class="mt-1">
    <form method="post" action="/Ad/Admin/TicketSearch">
        @Html.Partial("~/Areas/Ad/Views/Partials/_PartialSearch.cshtml")
    </form>
</div>


@if (tickets.Count() <= 0)
{
    <h3>No records found.</h3>
}
else
{
    <div>
        <table>
            <thead>
                <tr>
                    <th>No</th>
                    <th>Customer</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Departure</th>
                    <th>Arrival</th>
                    <th>Seat</th>
                    <th>Class</th>
                    <th>Price</th>
                    <th>Status</th>
                    @*<th>Action</th>*@
                </tr>
            </thead>
            <tbody>
                @foreach (var item in tickets)
                {
                    <tr>
                        <td>
                            @{
                                var a = tickets.IndexOf(item) + 1;
                            }
                            @a
                        </td>
                        <td>@item.NameCustomer</td>
                        <td>@item.FromSchedule</td>
                        <td>@item.ToSchedule</td>
                        <td>@item.Departure</td>
                        <td>@item.Arrival</td>
                        <td>@item.IdSeat</td>
                        <td>@item.NameClass</td>
                        <td>$@item.PriceTicket</td>
                        <td>@item.StatusTicket</td>
                        @*<td>
                @Html.Partial("~/Areas/Ad/Views/Partials/_PartialTicketUpdate.cshtml",item)
                @Html.Partial("~/Areas/Ad/Views/Partials/_PartialTicketDelete.cshtml",item)
                </td>*@
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@section Scripts {
    <script src="~/js/admin.js"></script>
    <script type="text/javascript">
        const schedules = @Html.Raw(Json.Serialize(ViewBag.Schedules));
        const stations = @Html.Raw(Json.Serialize(ViewBag.Stations));
        const fares = @Html.Raw(Json.Serialize(ViewBag.Fares));
        const trains = @Html.Raw(Json.Serialize(ViewBag.Trains));
        const classes = @Html.Raw(Json.Serialize(ViewBag.Classes));
        const tickets = @Html.Raw(Json.Serialize(ViewBag.Tickets));
        function removeResult() {
            $("#result").get(0).text = ""
        }
        onDropCart()
        setTimeout(removeResult, 3000)

        function onFromStationChange(e) {
            const fromStation = $("#fromStation").get(0)
            const fromFare = fromStation.value
            const filtedFares = fares.filter(e => e.fromFare == fromFare);
            const filtedSchedules = schedules.filter(e => e.fromFare == fromFare);

            //get select toStation
            const toStation = $("#toStation").get(0);
            //clear select toStation
            toStation.options.length = 0;
            //add data to toStation
            const optionDefault = document.createElement("option");
            optionDefault.text = "Select...";
            optionDefault.value = 0;
            if (fromFare == 0) {
                // clear view train
                clearDiv($("#viewTrain").get(0))
                // setup default options
                toStation.add(optionDefault);

                fromStation.options.length = 0;
                const optionFromDefault = document.createElement("option");
                optionFromDefault.text = "Select...";
                optionFromDefault.value = 0;
                fromStation.add(optionFromDefault);

                stations.forEach(e => {
                    var optionTo = document.createElement("option");
                    optionTo.text = e.nameStation;
                    optionTo.value = e.idStation;
                    toStation.add(optionTo);

                    var optionFrom = document.createElement("option");
                    optionFrom.text = e.nameStation;
                    optionFrom.value = e.idStation;
                    fromStation.add(optionFrom);
                });
            } else {
                // setup train
                if (filtedSchedules.length > 0) {
                    setupTrain(getTrain(fromFare), filtedSchedules[0].idSchedule)
                } else {
                    clearDiv($("#viewTrain").get(0))
                }

                // setup options
                filtedFares.forEach(e => {
                    var option = document.createElement("option");
                    option.text = e.toFareName;
                    option.value = e.toFare;
                    toStation.add(option);
                });
                toStation.add(optionDefault);
            }
            //updateScheduleSelect
            updateScheduleSelect(filtedSchedules)
        }

        function onToStationChange(e) {
            const toStation = $("#toStation").get(0)
            const toFare = toStation.value
            const filtedFares = fares.filter(e => e.toFare == toFare);
            const filtedSchedules = schedules.filter(e => e.toFare == toFare);

            //get select toStation
            const fromStation = $("#fromStation").get(0);
            //clear select toStation
            fromStation.options.length = 0;
            const optionDefault = document.createElement("option");
            optionDefault.text = "Select...";
            optionDefault.value = 0;
            //add data to toStation
            if (toFare == 0) {
                // clear view train
                clearDiv($("#viewTrain").get(0))
                // setup options
                fromStation.add(optionDefault);

                toStation.options.length = 0;
                const optionToDefault = document.createElement("option");
                optionToDefault.text = "Select...";
                optionToDefault.value = 0;
                toStation.add(optionToDefault);

                stations.forEach(e => {
                    var optionFrom = document.createElement("option");
                    optionFrom.text = e.nameStation;
                    optionFrom.value = e.idStation;
                    fromStation.add(optionFrom);

                    var optionTo = document.createElement("option");
                    optionTo.text = e.nameStation;
                    optionTo.value = e.idStation;
                    toStation.add(optionTo);
                });
            } else {
                //setup train
                if(filtedSchedules.length > 0){
                    setupTrain(getTrain(toFare), filtedSchedules[0].idSchedule)
                }else{
                    clearDiv($("#viewTrain").get(0))
                }

                //setup options
                filtedFares.forEach(e => {
                    var option = document.createElement("option");
                    option.text = e.fromFareName;
                    option.value = e.fromFare;
                    fromStation.add(option);
                });
                fromStation.add(optionDefault);
            }
            //updateScheduleSelect
            updateScheduleSelect(filtedSchedules)
        }

        //updateScheduleSelect
        function updateScheduleSelect(filtedSchedules) {
            const departure = $("#departure").get(0);
            const arrival = $("#arrival").get(0);
            //clear departure + arrival
            departure.options.length = 0;
            arrival.options.length = 0;
            //add filted schedules
            filtedSchedules.forEach(e => {
                var optionDe = document.createElement("option");
                optionDe.text = convertTime(e.departureSchedule);
                optionDe.value = e.idSchedule;
                departure.add(optionDe);

                var optionAr = document.createElement("option");
                optionAr.text = convertTime(e.arrivalSchedule);
                optionAr.value = e.idSchedule;
                arrival.add(optionAr);
            });
        }

        // schedule time change
        function onTimeChange(e, idSelect, isDeparture) {
            const select = $(idSelect).get(0);
            const schedule = getSchedule(e.value);
            //setup other select
            select.options.length = 0;
            var option = document.createElement("option");
            if (isDeparture) {
                option.text = convertTime(schedule.arrivalSchedule);
            }
            else {
                option.text = convertTime(schedule.arrivalSchedule);
            }
            option.value = schedule.idSchedule;
            select.add(option);

            setupTrain(getTrain(schedule.idTrain), schedule.idSchedule)
        }

        function convertTime(time) {
            const datetime = time.split('T')
            const newDate = datetime[0].replaceAll('-', '/')
            const newTime = datetime[1] + ":00"
            const newDatetime = newDate + " " + newTime
            //var result = mydate.toString('dd MM yyyy h:mm:ss');
            return newDatetime
        }

        //setup train view
        function setupTrain(train, idSchedule) {
            localStorage.removeItem("cart")
            updateQuantityCart()
            const viewTrain = $("#viewTrain").get(0)
            clearDiv(viewTrain)
            var div = document.createElement("div");
       
            //add ac1Seat
            setupSeat(div, train.ac1Seat, "Ac1-", "Silver", idSchedule)

            //add ac2Seat
            setupSeat(div, train.ac2Seat, "Ac2-", "Silver", idSchedule)

            //add ac3Seat
            setupSeat(div, train.ac3Seat, "Ac3-", "Silver", idSchedule)

            //add fcSeat
            setupSeat(div, train.fcSeat, "Fc-", "Gold", idSchedule)

            //add scSeat
            setupSeat(div, train.scSeat, "Sc-", "Platinum", idSchedule)

            viewTrain.appendChild(div);
        }

        function setupSeat(div,totalSeat,nameSeat,nameClass,idSchedule){
            const start = 1;
            const rowSeat = 5;
            let indexSeat = 1
            let letterSeat = 65
            let letterRow = 65
            for (var i = start; i <= Math.ceil(totalSeat / rowSeat); i++) {
                div.appendChild(newSpan(letterRow));
                for (var j = start; j <= rowSeat; j++) {
                    if (indexSeat > totalSeat) {
                        break;
                    }
                    const input = newCheckBox(nameSeat + String.fromCodePoint(letterRow) + indexSeat, nameClass, idSchedule);
                    div.appendChild(input);
                    if (indexSeat % rowSeat == 0) {
                        addBr(div)
                    }
                    indexSeat++;
                }
                letterRow++;
            }
            addBr(div)
        }

        function selectSeat(e) {
            const IdTicket = 0
            const IdSeat = e.name
            const IdClass = parseInt(e.value)
            const IdSchedule = parseInt($("#departure").get(0).value)
            const IdCustomer = parseInt($("#idCustomer").get(0).value)
            const price = getFarePrice(getSchedule(IdSchedule).idFare)
            const rate = getClassRate(IdClass)
            const PriceTicket = price * rate;
            const StatusTicket = true
            const ticket = { IdTicket, IdSchedule, IdCustomer, IdClass, IdSeat, PriceTicket, StatusTicket }
            if (localStorage.getItem("cart") == null) {
                const cart = [];
                localStorage.setItem("cart", JSON.stringify(cart))
            }
            let currentCart = JSON.parse(localStorage.getItem("cart"))

            if (e.checked) {
                $.ajax({
                    type: "POST",
                    url: "/Ad/Admin/CheckTickket",
                    data: ticket,
                    dataType: "json",
                    success: function (result) {
                        if (result == "false") {
                            currentCart.push(ticket)
                            localStorage.setItem("cart", JSON.stringify(currentCart))
                            updateQuantityCart()
                        } else {
                            setupTrain(getTrain($("#fromStation").get(0).value), IdSchedule)
                            alert("Ticket already sold.")
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        //do your own thing
                        alert("Something wrong in server.")
                    }
                });

            } else {
                currentCart = currentCart.filter(e => e.IdSeat !== IdSeat);
                localStorage.setItem("cart", JSON.stringify(currentCart))
                updateQuantityCart()
            }
        }

        function newCheckBox(name, typeClass, idSchedule) {
            const input = document.createElement("input");
            input.type = "checkbox";
            input.name = name
            input.checked = checkTicket(name, idSchedule)
            input.title = name
            input.setAttribute("data-toggle", "tooltip");
            input.setAttribute("data-placement", "left");
            input.value = getClassId(typeClass)
            input.onchange = (event) => { selectSeat(event.target) }
            return input
        }

        function addBr(element) {
            const br = document.createElement("br");
            element.appendChild(br);
        }

        function newSpan(value) {
            const span = document.createElement("span");
            span.innerHTML = String.fromCodePoint(value)

            return span
        }

        function onDropCart() {
            localStorage.removeItem("cart")
            if ($("#fromStation").get(0).value > 0) {
                setupTrain(getTrain($("#fromStation").get(0).value))
            }
            updateQuantityCart()
        }

        function updateQuantityCart() {
            const cart = JSON.parse(localStorage.getItem("cart"))
            let quantity = 0
            if (cart != null) {
                quantity = cart.length
            }
            $("#cartQuantity").get(0).innerHTML = quantity
            $("#cart").get(0).value = JSON.stringify(cart)

        }

        function getClassId(text) {
            return classes.find(e => e.nameClass.includes(text)).idClass;
        }

        function getTrain(id) {
            return trains.find(e => e.idTrain == id);
        }

        function getSchedule(id) {
            return schedules.find(e => e.idSchedule == id);
        }

        function getClassRate(id) {
            return classes.find(e => e.idClass == id).rateClass;
        }

        function getFarePrice(id) {
            return fares.find(e => e.idFare == id).priceFare;
        }

        function checkTicket(idSeat, idSchedule) {
            var ticket = tickets.find(e => e.idSchedule == idSchedule && e.idSeat == idSeat)
            return ticket != null ? true : false;
        }

        function viewCart() {
            const cart = JSON.parse(localStorage.getItem("cart"));
            const viewTicket = $("#viewTicket").get(0)
            const cartEmpty = document.createElement("h5");
            cartEmpty.innerHTML = "Cart empty"
            
            clearDiv(viewTicket)
            if (cart == null || cart.length <= 0) {
                viewTicket.appendChild(cartEmpty);
            } else {
                getTotalPrice(cart)
                cart.forEach(ticket => viewTicket.appendChild(ticketForm(ticket)))
            }
        }

        function clearDiv(div){
            while (div.lastChild) {
                div.removeChild(div.lastChild);
            }
        }

        function newDiv(className = ''){
            const div = document.createElement("div");
            div.className = className

            return div
        }

        function newHr(className = '',style = ''){
            const hr = document.createElement("hr");
            hr.className = className;
            hr.style = style

            return hr
        }

        function getTotalPrice(cart) {
            var total = 0
            cart.forEach(ticket => total += ticket.PriceTicket)
            $("#totalPrice").get(0).innerHTML = "$ " + total
        }

        function ticketForm(ticket) {
            const schedule = getSchedule(ticket.IdSchedule)
            const train = getTrain(schedule.idTrain)
            const card = newDiv("card");
            const divTop = newDiv();
            divTop.style = "background-color:deepskyblue"

            const divTopRow = newDiv("row");
            const divTopCol1 = newDiv("col-4 mb-1 ms-1");
            const img = document.createElement("img");
            img.src = "https://localhost:7256/images/Logo_10.jpg"
            divTopCol1.appendChild(img)
            const divTopCol2 = newDiv("col-7");
            const departureTime = new Date(schedule.departureSchedule)

            divTopCol2.innerHTML = departureTime.toLocaleDateString() + " " + schedule.fromFareName + "-" + schedule.toFareName
            divTopRow.appendChild(divTopCol1)
            divTopRow.appendChild(divTopCol2)
            divTop.appendChild(divTopRow)
            card.appendChild(divTop)

            const container = newDiv("container");
            const row = newDiv("row");
            //col 1
            const col1 = newDiv("col-4");
            const col1div1 = newDiv();
            col1div1.innerHTML = schedule.fromFareName
            const col1div1hr = newHr("m-0","color:deepskyblue");
            col1div1.appendChild(col1div1hr)
            col1.appendChild(col1div1)
            const col1div2 = newDiv();
            col1div2.innerHTML = "Departure : " + departureTime.toLocaleTimeString()
            col1.appendChild(col1div2)

            const col1div3 = newDiv();
            col1div3.innerHTML =  departureTime.toLocaleDateString()
            col1.appendChild(col1div3)

            //col 2
            const col2 = newDiv("col-4");
            col2.style = "border-right: 1px solid deepskyblue;border-left: 1px solid deepskyblue;"
            const col2div1 = newDiv();
            col2div1.innerHTML = schedule.toFareName
            const col2div1hr = newHr("m-0", "color:deepskyblue");
            col2div1.appendChild(col2div1hr)
            col2.appendChild(col2div1)

            const arrivalTime = new Date(schedule.arrivalSchedule)
            const col2div2 = newDiv();
            col2div2.innerHTML = "Arrival : " + arrivalTime.toLocaleTimeString()
            col2.appendChild(col2div2)

            const col2div3 = newDiv();
            col2div3.innerHTML = arrivalTime.toLocaleDateString()
            col2.appendChild(col2div3)

            //col 2
            const col3 = newDiv("col-4");
            const col3div1 = newDiv();
            col3div1.innerHTML = "By Phuong Vu"
            col3.appendChild(col3div1)

            const col3div2 = newDiv("row");
            const col3div2div1 = newDiv("col-6");
            const col3div2div1div1 = newDiv();
            // code train
            col3div2div1div1.innerHTML = train.codeTrain
            col3div2div1.appendChild(col3div2div1div1)
            // Id seat
            const col3div2div1div2 = newDiv();
            col3div2div1div2.innerHTML = ticket.IdSeat
            col3div2div1.appendChild(col3div2div1div2)

            col3div2.appendChild(col3div2div1)
            col3.appendChild(col3div2)
           
            const col3div2div2 = newDiv("col-6");
            const col3div2div2div1 = newDiv();
            // label price
            col3div2div2div1.innerHTML = "Price"
            col3div2div2.appendChild(col3div2div2div1)
            // price
            const col3div2div2div2 = newDiv();
            col3div2div2div2.innerHTML = "$ " + ticket.PriceTicket
            col3div2div2.appendChild(col3div2div2div2)

            col3div2.appendChild(col3div2div1)
            col3div2.appendChild(col3div2div2)
            col3.appendChild(col3div2)

            row.appendChild(col1)
            row.appendChild(col2)
            row.appendChild(col3)
            container.appendChild(row)
            card.appendChild(container)

            return card
        }
    </script>
}

