﻿@model TrainView;

@{
    var trains = (List<TrainView>)@ViewBag.Trains;
}

@section Header {
    @await Html.PartialAsync("~/Areas/Ad/Views/Partials/_PartialAdHeader.cshtml")
}

@section LeftNavigator {
    @await Html.PartialAsync("~/Areas/Ad/Views/Partials/_PartialLeftNavigator.cshtml")
}

<h1>@ViewBag.Title</h1>

<button type="button" class="btn btn-info btn-lg" data-bs-toggle="modal" data-bs-target="#newTrainModel">New</button>
<span id="result">@ViewBag.Result</span>

<div class="mt-1">
    <form method="post" action="/Ad/Admin/TrainSearch">
        @Html.Partial("~/Areas/Ad/Views/Partials/_PartialSearch.cshtml")
    </form>
</div>

<div id="newTrainModel" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">New Train</h4>
                <button type="button" class="btn btn-info" data-bs-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <form method="post" action="/Ad/Admin/TrainCreate">
                    <div class="col-12">
                        <div class="m-1">
                            <span>Code</span>
                            <input class="form-control" name="CodeTrain" type="text" />
                        </div>

                        <div class="m-1">
                            <span>Name</span>
                            <input class="form-control" name="NameTrain" type="text" />
                        </div>

                        <div class="row">
                            <div class="col-4">
                                <div class="m-1">
                                    <span>Ac1</span>
                                    <input class="form-control" name="Ac1Seat" type="number" />
                                </div>
                            </div>

                            <div class="col-4">
                                <div class="m-1">
                                    <span>Ac2</span>
                                    <input class="form-control" name="Ac2Seat" type="number" />
                                </div>
                            </div>

                            <div class="col-4">
                                <div class="m-1">
                                    <span>Ac3</span>
                                    <input class="form-control" name="Ac3Seat" type="number" />
                                </div>
                            </div>

                            <div class="col-4">
                                <div class="m-1">
                                    <span>Fc</span>
                                    <input class="form-control" name="FcSeat" type="number" />
                                </div>
                            </div>

                            <div class="col-4">
                                <div class="m-1">
                                    <span>Sc</span>
                                    <input class="form-control" name="ScSeat" type="number" />
                                </div>
                            </div>
                        </div>

                        <div class="m-1">
                            <button class="form-control" type="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>


@if(trains.Count() <= 0)
{
    <h3>No records found.</h3>
}
else
{
    <div>
        <table>
            <thead>
                <tr>
                    <th>No</th>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Ac1</th>
                    <th>Ac2</th>
                    <th>Ac3</th>
                    <th>Fc</th>
                    <th>Sc</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in @trains)
                {
                    <tr>
                        <td>
                            @{
                                var a = trains.IndexOf(item) + 1;
                            }
                            @a
                        </td>
                        <td>@item.CodeTrain</td>
                        <td>@item.NameTrain</td>
                        <td>@item.Ac1Seat</td>
                        <td>@item.Ac2Seat</td>
                        <td>@item.Ac3Seat</td>
                        <td>@item.FcSeat</td>
                        <td>@item.ScSeat</td>
                        <td><input type="checkbox" name="@item.IdTrain" checked="@item.StatusTrain" onchange="onChangeStatus(this,'/Ad/Admin/TrainStatus')" /></td>
                        <td>@Html.Partial("~/Areas/Ad/Views/Partials/_PartialTrainUpdate.cshtml",item)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}


@section Scripts {
    <script type="text/javascript">
        function removeResult() {
            $("#result").get(0).text = ""
        }
        setTimeout(removeResult, 3000)
    </script>
}

