﻿@{
    var stations = ViewBag.Stations;
    var fares = ViewBag.Fares;
}

<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-10">
            <div class="card" style="width:950px">
                <div class="container">
                    <div class="row mb-3 mt-3">
                        <div class="col-5">
                            <select class="form-control" id="fromStation" onchange="onFromStationChange()">
                                <option value=0 selected>Select From</option>
                                @foreach (var station in stations as List<StationView>)
                                {
                                    <option value="@station.IdStation">@station.NameStation</option>
                                }
                            </select>
                        </div>
                        <div class="col-5">
                            <select class="form-control" id="toStation" onchange="onToStationChange()">
                                <option value=0 selected>Select To</option>
                                @foreach (var station in stations as List<StationView>)
                                {
                                    <option value="@station.IdStation">@station.NameStation</option>
                                }
                            </select>
                        </div>
                        <div class="col-1">
                            <button type="button" class="btn btn-info btn-sm" data-bs-toggle="modal" data-bs-target="#btnBuyModal" onclick="onSelectStation()" style="width:130px">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function newOption(text, id) {
        var option = document.createElement("option");
        option.text = text;
        option.value = id;
        return option;
    }

    function getClassId(text) {
        return classes.find(e => e.nameClass.includes(text)).idClass;
    }

    function getTrain(id) {
        return trains.find(e => e.idTrain == id);
    }

    function getStation(id) {
        return stations.find(e => e.idStation == id);
    }

    function getSchedule(id) {
        return schedules.find(e => e.idSchedule == id);
    }

    function getClassRate(id) {
        return classes.find(e => e.idClass == id).rateClass;
    }

    function getFare(id) {
        return fares.find(e => e.idFare == id);
    }

    function getFarePrice(id) {
        return fares.find(e => e.idFare == id).priceFare;
    }

    function updateQuantityCart() {
        const cart = JSON.parse(localStorage.getItem("cart"))
        let quantity = 0
        if (cart != null) {
            quantity = cart.length
        }
        $("#cartQuantity").get(0).innerHTML = quantity
        $("#cart").get(0).value = JSON.stringify(cart)

    }

    function onFromStationChange() {
        const stations = JSON.parse(localStorage.getItem("stations"));
        const fares = JSON.parse(localStorage.getItem("fares"));

        const fromStation = $("#fromStation").get(0)
        const fromFare = fromStation.value
        const filtedFares = fares.filter(e => e.fromFare == fromFare);

        //get select toStation
        const toStation = $("#toStation").get(0);
        //clear select toStation
        toStation.options.length = 0;
        const optionDefault = newOption("Select To", 0);

        if (fromFare == 0) {
            toStation.add(optionDefault);

            //clear select fromStation
            fromStation.options.length = 0;
            const optionDefaultFrom = newOption("Select From", 0);
            fromStation.add(optionDefaultFrom);

            stations.forEach(e => {
                const optionTo = newOption(e.nameStation, e.idStation);
                toStation.add(optionTo);

                const optionFrom = newOption(e.nameStation, e.idStation);
                fromStation.add(optionFrom);
            });
        } else {
            filtedFares.forEach(e => {
                var option = document.createElement("option");
                option.text = e.toFareName;
                option.value = e.toFare;
                toStation.add(option);
            });
            toStation.add(optionDefault);
        }
    }

    function onToStationChange() {
        const stations = JSON.parse(localStorage.getItem("stations"));
        const fares = JSON.parse(localStorage.getItem("fares"));

        const toStation = $("#toStation").get(0)
        const toFare = toStation.value
        const filtedFares = fares.filter(e => e.toFare == toFare);
        //get select toStation
        const fromStation = $("#fromStation").get(0);
        //clear select fromStation
        fromStation.options.length = 0;
        const optionDefault = newOption("Select From", 0);

        //add data to toStation
        if (toFare == 0) {
            fromStation.add(optionDefault);

            //clear select toStation
            toStation.options.length = 0;
            const optionDefaultTo = newOption("Select to", 0);
            toStation.add(optionDefaultTo);

            stations.forEach(e => {
                const optionFrom = newOption(e.nameStation, e.idStation);
                fromStation.add(optionFrom);

                const optionTo = newOption(e.nameStation, e.idStation);
                toStation.add(optionTo);
            });
        } else {
            filtedFares.forEach(e => {
                var option = document.createElement("option");
                option.text = e.fromFareName;
                option.value = e.fromFare;
                fromStation.add(option);
            });
            fromStation.add(optionDefault);
        }
    }

    function clearDiv(div) {
        while (div.lastChild) {
            div.removeChild(div.lastChild);
        }
    }

    function setupSeat(div, totalSeat, nameSeat, nameClass, idSchedule) {
        const start = 1;
        const rowSeat = 5;
        let indexSeat = 1
        let letterSeat = 65
        let letterRow = 65
        for (var i = start; i <= Math.ceil(totalSeat / rowSeat); i++) {
            div.appendChild(newSpan(letterRow));
            for (var j = start; j <= rowSeat; j++) {
                if (indexSeat > totalSeat) {
                    break;
                }
                const input = newCheckBox(nameSeat + String.fromCodePoint(letterRow) + indexSeat, nameClass, idSchedule);
                div.appendChild(input);
                if (indexSeat % rowSeat == 0) {
                    addBr(div)
                }
                indexSeat++;
            }
            letterRow++;
        }
        addBr(div)
    }

    function checkTicket(idSeat, idSchedule) {
        var ticket = tickets.find(e => e.idSchedule == idSchedule && e.idSeat == idSeat)
        return ticket != null ? true : false;
    }

    function newSpan(value) {
        const span = document.createElement("span");
        span.innerHTML = String.fromCodePoint(value)

        return span
    }

    function addBr(element) {
        const br = document.createElement("br");
        element.appendChild(br);
    }

    function newCheckBox(name, typeClass, idSchedule) {
        const input = document.createElement("input");
        input.type = "checkbox";
        input.name = name
        input.checked = checkTicket(name, idSchedule)
        input.title = name
        input.setAttribute("data-toggle", "tooltip");
        input.setAttribute("data-placement", "left");
        input.value = getClassId(typeClass)
        input.onchange = (event) => { selectSeat(event.target) }
        return input
    }

    function selectSeat(e) {
        const IdTicket = 0
        const IdSeat = e.name
        const IdClass = parseInt(e.value)
        const schedule = JSON.parse(localStorage.getItem("schedule"));
        const IdSchedule = parseInt(schedule.idSchedule)
        const IdCustomer = JSON.parse(localStorage.getItem("customer")).idCustomer;
        const price = getFarePrice(getSchedule(IdSchedule).idFare)
        const rate = getClassRate(IdClass)
        const PriceTicket = price * rate;
        const StatusTicket = true
        const ticket = { IdTicket, IdSchedule, IdCustomer, IdClass, IdSeat, PriceTicket, StatusTicket }

        if (localStorage.getItem("cart") == null) {
            const cart = [];
            localStorage.setItem("cart", JSON.stringify(cart))
        }
        let currentCart = JSON.parse(localStorage.getItem("cart"))

        if (e.checked) {
            $.ajax({
                type: "POST",
                url: "/Ad/Admin/CheckTickket",
                data: ticket,
                dataType: "json",
                success: function (result) {
                    if (result == "false") {
                        currentCart.push(ticket)
                        localStorage.setItem("cart", JSON.stringify(currentCart))
                        updateQuantityCart()
                    } else {
                        const train = JSON.parse(localStorage.getItem("train"))
                        setupTrain(train, schedule)
                        alert("Ticket already sold.")
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    //do your own thing
                    alert("Something wrong in server.")
                }
            });

        } else {
            currentCart = currentCart.filter(e => e.IdSeat !== IdSeat);
            localStorage.setItem("cart", JSON.stringify(currentCart))
            updateQuantityCart()
        }
    }

    function onSelectStation() {
        onDropCart()
        const schedules = JSON.parse(localStorage.getItem("schedules"));
        updateTableSchedules(schedules)
    }

    function onDropCart() {
        localStorage.removeItem("cart")
        localStorage.removeItem("schedule")
        localStorage.removeItem("train")
        clearDiv($("#viewTrain").get(0))
        updateQuantityCart()
    }

    function filtedSchedule(schedules, fromStation, toStation) {
        const fares = JSON.parse(localStorage.getItem("fares"));

        const idFare = fares.find(e => e.fromFare == fromStation && e.toFare == toStation).idFare;
        const filedSchedule = schedules.filter(e => e.idFare == idFare)

        return filedSchedule
    }

    function notFoundSchedule() {
        const tr = document.createElement("tr");
        const td = newTd("No Schedule(s) found.")
        tr.appendChild(td);
        return tr
    }

    function updateTableSchedules(schedules) {
        const tableViewSchedules = $("#tableViewSchedules").get(0)
        const oldBody = $("#tableBodySchedules").get(0)
        const fromStation = $("#fromStation").get(0).value
        const toStation = $("#toStation").get(0).value
        var newBody = document.createElement("tbody");
        newBody.id = "tableBodySchedules"

        if (fromStation <= 0 || toStation <= 0) {
            newBody.appendChild(notFoundSchedule())
        } else {
            const filedSchedule = filtedSchedule(schedules, fromStation, toStation)

            if (filedSchedule.length <= 0) {
                newBody.appendChild(notFoundSchedule())
            } else {
                filedSchedule.forEach(schedule => updateTable(newBody, schedule))
            }
        }

        tableViewSchedules.replaceChild(newBody, oldBody)
    }

    function onSelectDatetime(e) {
        const selectedTime = e.value
        const schedules = JSON.parse(localStorage.getItem("schedules"));

        const filedSchedule = schedules.filter(e => e.departureSchedule >= selectedTime)

        updateTableSchedules(filedSchedule)
    }

    function convertTime(time) {
        const tmpTime = time.split('T')

        const tmpDate = tmpTime[0].split('-')
        const newTime = tmpDate[2] + '-' + tmpDate[1] + '-' + tmpDate[0] + ' ' + tmpTime[1]

        return newTime
    }

    function updateTable(newBody, schedule) {
        const fares = JSON.parse(localStorage.getItem("fares"));
        const stations = JSON.parse(localStorage.getItem("stations"));
        const trains = JSON.parse(localStorage.getItem("trains"));
        const classes = JSON.parse(localStorage.getItem("classes"));
        const tickets = JSON.parse(localStorage.getItem("tickets"));

        const train = getTrain(schedule.idTrain)
        const trainName = train.codeTrain
        const fare = getFare(schedule.idFare)
        const farePrice = fare.priceFare
        const fromStationName = getStation(fare.fromFare).nameStation;
        const toStationName = getStation(fare.toFare).nameStation;
        const tr = document.createElement("tr");
        tr.onclick = () => { setupTrain(train, schedule) }

        //div1
        const td1 = newTd('')
        const td1img = document.createElement("img");
        td1img.src = "https://localhost:7256/images/Logo_10.jpg"
        const td1div = newDiv("", trainName)
        td1.appendChild(td1img)
        td1.appendChild(td1div)

        //div2
        const td2 = newTd('')
        const td2div1 = newDiv("", fromStationName)

        const td2div2 = newDiv("", convertTime(schedule.departureSchedule))
        td2.appendChild(td2div1)
        td2.appendChild(td2div2)

        //div3
        const td3 = newTd('')
        const td3div1 = newDiv("", toStationName)
        const td3div2 = newDiv("", convertTime(schedule.arrivalSchedule))
        td3.appendChild(td3div1)
        td3.appendChild(td3div2)

        //div4
        const td4 = newTd('')
        const td4div1 = newDiv("", "From $" + farePrice)
        //const td4img = document.createElement("img");
        //td4img.src = "https://localhost:7256/images/search_5.jpg"
        //td4img.style = "cursor: pointer";
        //td4img.onclick = () => {setupTrain(train)}
        td4.appendChild(td4div1)
        //td4.appendChild(td4img)

        tr.appendChild(td1)
        tr.appendChild(td2)
        tr.appendChild(td3)
        tr.appendChild(td4)

        newBody.appendChild(tr)
    }

    function setupTrain(train, schedule) {
        onDropCart()
        localStorage.setItem("schedule", JSON.stringify(schedule))
        localStorage.setItem("train", JSON.stringify(train))
        const idSchedule = schedule.idSchedule
        var div = document.createElement("div");

        //add ac1Seat
        setupSeat(div, train.ac1Seat, "Ac1-", "Silver", idSchedule)

        //add ac2Seat
        setupSeat(div, train.ac2Seat, "Ac2-", "Silver", idSchedule)

        //add ac3Seat
        setupSeat(div, train.ac3Seat, "Ac3-", "Silver", idSchedule)

        //add fcSeat
        setupSeat(div, train.fcSeat, "Fc-", "Gold", idSchedule)

        //add scSeat
        setupSeat(div, train.scSeat, "Sc-", "Platinum", idSchedule)

        viewTrain.appendChild(div);
    }

    function newDiv(className = '', text = '') {
        const div = document.createElement("div");
        div.className = className
        div.innerHTML = text

        return div
    }

    function viewCart() {
        const cart = JSON.parse(localStorage.getItem("cart"));
        const viewTicket = $("#viewTicket").get(0)
        const cartEmpty = document.createElement("h5");
        cartEmpty.innerHTML = "Cart empty"

        clearDiv(viewTicket)
        if (cart == null || cart.length <= 0) {
            viewTicket.appendChild(cartEmpty);
        } else {
            getTotalPrice(cart)
            cart.forEach(ticket => viewTicket.appendChild(ticketForm(ticket)))
        }
    }

    function newTd(name, className) {
        const td = document.createElement("td");
        td.innerHTML = name
        td.className = className
        return td;
    }

    function newHr(className = '', style = '') {
        const hr = document.createElement("hr");
        hr.className = className;
        hr.style = style

        return hr
    }

    function getTotalPrice(cart) {
        var total = 0
        cart.forEach(ticket => total += ticket.PriceTicket)
        $("#totalPrice").get(0).innerHTML = "$ " + total
    }

    function ticketForm(ticket) {
        const schedule = getSchedule(ticket.IdSchedule)
        const train = getTrain(schedule.idTrain)
        const card = newDiv("card");
        const divTop = newDiv();
        divTop.style = "background-color:deepskyblue"

        const divTopRow = newDiv("row");
        const divTopCol1 = newDiv("col-4 mb-1 ms-1");
        const img = document.createElement("img");
        img.src = "https://localhost:7256/images/Logo_10.jpg"
        divTopCol1.appendChild(img)
        const divTopCol2 = newDiv("col-7");
        const departureTime = new Date(schedule.departureSchedule)

        divTopCol2.innerHTML = departureTime.toLocaleDateString() + " " + schedule.fromFareName + "-" + schedule.toFareName
        divTopRow.appendChild(divTopCol1)
        divTopRow.appendChild(divTopCol2)
        divTop.appendChild(divTopRow)
        card.appendChild(divTop)

        const container = newDiv("container");
        const row = newDiv("row");
        //col 1
        const col1 = newDiv("col-4");
        const col1div1 = newDiv();
        col1div1.innerHTML = schedule.fromFareName
        const col1div1hr = newHr("m-0", "color:deepskyblue");
        col1div1.appendChild(col1div1hr)
        col1.appendChild(col1div1)
        const col1div2 = newDiv();
        col1div2.innerHTML = "Departure : " + departureTime.toLocaleTimeString()
        col1.appendChild(col1div2)

        const col1div3 = newDiv();
        col1div3.innerHTML = departureTime.toLocaleDateString()
        col1.appendChild(col1div3)

        //col 2
        const col2 = newDiv("col-4");
        col2.style = "border-right: 1px solid deepskyblue;border-left: 1px solid deepskyblue;"
        const col2div1 = newDiv();
        col2div1.innerHTML = schedule.toFareName
        const col2div1hr = newHr("m-0", "color:deepskyblue");
        col2div1.appendChild(col2div1hr)
        col2.appendChild(col2div1)

        const arrivalTime = new Date(schedule.arrivalSchedule)
        const col2div2 = newDiv();
        col2div2.innerHTML = "Arrival : " + arrivalTime.toLocaleTimeString()
        col2.appendChild(col2div2)

        const col2div3 = newDiv();
        col2div3.innerHTML = arrivalTime.toLocaleDateString()
        col2.appendChild(col2div3)

        //col 2
        const col3 = newDiv("col-4");
        const col3div1 = newDiv();
        col3div1.innerHTML = "By Phuong Vu"
        col3.appendChild(col3div1)

        const col3div2 = newDiv("row");
        const col3div2div1 = newDiv("col-6");
        const col3div2div1div1 = newDiv();
        // code train
        col3div2div1div1.innerHTML = train.codeTrain
        col3div2div1.appendChild(col3div2div1div1)
        // Id seat
        const col3div2div1div2 = newDiv();
        col3div2div1div2.innerHTML = ticket.IdSeat
        col3div2div1.appendChild(col3div2div1div2)

        col3div2.appendChild(col3div2div1)
        col3.appendChild(col3div2)

        const col3div2div2 = newDiv("col-6");
        const col3div2div2div1 = newDiv();
        // label price
        col3div2div2div1.innerHTML = "Price"
        col3div2div2.appendChild(col3div2div2div1)
        // price
        const col3div2div2div2 = newDiv();
        col3div2div2div2.innerHTML = "$ " + ticket.PriceTicket
        col3div2div2.appendChild(col3div2div2div2)

        col3div2.appendChild(col3div2div1)
        col3div2.appendChild(col3div2div2)
        col3.appendChild(col3div2)

        row.appendChild(col1)
        row.appendChild(col2)
        row.appendChild(col3)
        container.appendChild(row)
        card.appendChild(container)

        return card
    }
</script>