﻿
<div id="btnBuyModal" class="modal fade" role="dialog">
    <!--shedules-->
    <div class="modal-dialog" style="position:fixed; left:15%;min-width:600px">
        <!--Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Buy Ticket</h4>
                <button type="button" class="btn btn-info close" data-bs-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <form method="post" action="/Home/Payment">
                    <!--Schedules content-->
                    <input id="selectDateTime" onchange="onSelectDatetime(this)" class="form-control" type="datetime-local" />
                    <div style="height:415px;overflow-y:scroll;margin-top:15px">
                        <table id="tableViewSchedules" class="table table-striped table-hover table-sm">
                            <thead>
                                <tr>
                                    <th>Carrier</th>
                                    <th>From</th>
                                    <th>To</th>
                                    <th>Price</th>
                                </tr>
                            </thead>

                            <tbody id="tableBodySchedules">
                            </tbody>
                        </table>
                    </div>

                    <!--Cart content-->
                    <div id="cartItems" hidden></div>

                    <div class="m-1">
                        <div class="row">
                            <div class="col-4">
                                <button onclick="onDropCart()" type="button" class="form-control btn-sm btn-info"><b>Drop Cart</b></button>
                            </div>
                            <div class="col-4">
                                <button type="button" onclick="viewCart()" data-bs-toggle="modal" data-bs-target="#viewCart" class="form-control btn-sm btn-info">
                                    <b>Cart</b>
                                    <span id="cartQuantity" class="badge badge-info bg-dark">0</span>
                                </button>
                            </div>
                            <div class="col-4">
                                <input id="cart" type="text" name="param" hidden />
                                <button class="form-control btn-sm btn-info"><b>Submit</b></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--train-->
    <div class="modal-dialog modal-sm" style="position:fixed; right:17%; min-width:400px">
        <!-- Modal content-->
        <div class="modal-content modal-sm">

            <div class="modal-header">
                <h4 class="modal-title">Train</h4>
                <button type="button" class="btn btn-info close" data-bs-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-6" id="viewTrain" style="width:190px; height:500px;overflow-y:scroll;overflow-x:hidden"></div>

                </div>
            </div>
        </div>
    </div>
    @Html.Partial("~/Areas/Ad/Views/Partials/_PartialViewCart.cshtml")
</div>
