﻿@{
    var customer = (Customer)ViewBag.Customer;
}

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="/Home/Index"><img src="https://localhost:7256/images/Logo_20.jpg"></a>

        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav">
                <li class="nav-item left-navigator">
                    <a class="nav-link text-dark" href="/Home/Index">Home</a>
                </li>
                <li class="nav-item left-navigator">
                    <a class="nav-link text-dark" href="/Home/Privacy">Privacy</a>
                </li>
                <li class="nav-item left-navigator ">
                    <a class="nav-link text-dark" href="/Ad/Admin/Index">Admin</a>
                </li>

                @if (customer is null)
                {
                            <li class="nav-item left-navigator">
                                <a class="nav-link text-dark" href="/Home/Login">Login</a>
                            </li>

                            <li class="nav-item left-navigator">
                                <a class="nav-link text-dark" href="/Home/Register">Register</a>
                            </li>
                }
                else
                {
                            <li class="nav-item left-navigator">
                                <a class="nav-link text-dark" href="/Home/Profile">@customer.NameCustomer</a>
                            </li>
                            <li class="nav-item left-navigator">
                                <a class="nav-link text-dark" href="/Home/Logout">Logout</a>
                            </li>
                }   
            </ul>
        </div>
    </div>
</nav>

<script type="text/javascript">
    const customer = @Html.Raw(Json.Serialize(ViewBag.Customer));
    localStorage.setItem("customer", JSON.stringify(customer));
        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
                console.log('User signed out.');
            });
        }

</script>